{% extends 'base.html' %}

{% block head %}
    <title>TVS Tornado Viewer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
{% endblock %}

{% block body %}
    <p>First, select two dates--ensuring the latter date is later than the former. <br/> Second, draw a polygon on the map for the area of interest. <br/>Lastly, await the render of your plot which will be revealed below</p>
    <input class="inputs" id="start_date" type="date" value="2006-01-01" min="2006-01-01" max="2016-01-01" />
    <input class="inputs" id="end_date" type="date" value="2016-01-01" min="2006-01-01" max="2016-01-01"  />
    <p id="dates"></p>
    <input class="inputs" id="SEVERE THUNDERSTORM" type="checkbox">
    <label for="SEVERE THUNDERSTORM">SEVERE THUNDERSTORM </label><br>
    <input class="inputs" id="TORNADO" type="checkbox">
    <label for="TORNADO">TORNADO </label><br>
    <input class="inputs" id="FLASH FLOOD" type="checkbox">
    <label for="FLASH FLOOD">FLASH FLOOD </label><br>
    <input class="inputs" id="SPECIAL MARINE" type="checkbox">
    <label for="SPECIAL MARINE">SPECIAL MARINE </label><br>
    <p id="warning_types"></p>

    <div>
        <div id="map" style="width: 600px; height: 400px; position: relative; outline:none; float: left"
             class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
             tabindex="0"></div>

        <img id="plot" alt="Awaiting Plot" src="" style="float: left"/>

        <script type="text/javascript"> let host_ip = '{{ host_ip }}' </script>
        <script type="module" src="{{ url_for('static', filename='js/map.js') }}"></script>

    </div>
{% endblock %}


