{% extends 'base.html' %}

{% block head %}
    <title>TVS Tornado Viewer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
{% endblock %}

{% block body %}
    <input class="inputs" id="start_date" type="date" value="2017-06-01" />
    <input class="inputs" id="end_date" type="date" value="2017-06-01" />

    <div id="map" style="width: 600px; height: 400px; position: relative; outline:none;"
         class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
         tabindex="0"></div>
    <script type="module" src="{{ url_for('static', filename='js/map.js') }}"></script>

    <img id="plot" alt="Loading Plot..." src=""/>
    <script type="module" src="{{ url_for('static', filename='js/plot.js') }}"></script>
{% endblock %}


