body {
    margin: 0;
    font-family: sans-serif;
    padding-left: 1.5em;
}

.title {
    font-size: 50px;
    color: white
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer-note {
    color: grey;
}

